{{ form_start(productForm, {'attr': {'novalidate': 'novalidate', 'id': 'productForm'} }) }}
    <div class="form-group">
        {{ form_label(productForm.name, 'Name', { 'label_attr': {'class': 'control-label'} }) }}
        {{ form_widget(productForm.name, { 'attr': {'class': 'form-control', 'data-validation': 'required'} }) }}
        {{ form_errors(productForm.name) }}
    </div>
    <div class="form-group">
        {{ form_label(productForm.description, 'Description', { 'label_attr': {'class': 'control-label'} }) }}
        {{ form_widget(productForm.description, { 'attr': {'class': 'form-control', 'rows': 5} }) }}
        {{ form_errors(productForm.description) }}
    </div>
    <div class="form-group">
        {{ form_label(productForm.imageFile, 'Image', { 'label_attr': {'class': 'control-label'} }) }}
        {{ form_widget(productForm.imageFile, { 'attr': {'class': 'form-control-file'} }) }}
        {{ form_errors(productForm.imageFile) }}
    </div>
    <div class="form-group">
        {{ form_label(productForm.tags, 'Tags', { 'label_attr': {'class': 'control-label'} }) }}
        {{ form_widget(productForm.tags, { 'attr': {'class': 'form-control', 'data-role': 'tagsinput'} }) }}
        {{ form_errors(productForm.tags, { 'attr': {'class': 'form-control'} }) }}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save product</button>
    </div>
{{ form_end(productForm) }}
