{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

{{ form_start(productForm, {'attr': {'novalidate': 'novalidate', 'id': 'productForm'} }) }}
    <div class="form-group{% if not productForm.name.vars.valid %} has-error{% endif %}">
        {{ form_label(productForm.name, 'Name', { 'label_attr': {'class': 'control-label'} }) }}
        {{ form_widget(productForm.name, { 'attr': {'class': 'form-control', 'data-validation': 'required'} }) }}
        {% if not productForm.name.vars.valid %}
            <small class="help-block">{{ productForm.name.vars.errors }}</small>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form_label(productForm.description, 'Description', { 'label_attr': {'class': 'control-label'} }) }}
        {{ form_widget(productForm.description, { 'attr': {'class': 'form-control', 'rows': 5} }) }}
    </div>
    <div class="form-group">
        {{ form_label(productForm.imageFile, 'Image', { 'label_attr': {'class': 'control-label'} }) }}
        {{ form_widget(productForm.imageFile, { 'attr': {'class': 'form-control-file'} }) }}
    </div>
    <div class="form-group{% if not productForm.tags.vars.valid %} has-error{% endif %}">
        {{ form_label(productForm.tags, 'Tags', { 'label_attr': {'class': 'control-label'} }) }}
        {{ form_widget(productForm.tags, { 'attr': {'class': 'form-control', 'data-role': 'tagsinput'} }) }}
        {% if not productForm.tags.vars.valid %}
            <small class="help-block">{{ productForm.tags.vars.errors }}</small>
        {% endif %}
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save product</button>
    </div>
{{ form_end(productForm) }}
