{% extends '@Product/Default/index.html.twig' %}

{% block body %}
<div class="container">
    {{ form_start(productForm) }}
        <div class="form-group">
            {{ form_row(productForm.name, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_row(productForm.description, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_row(productForm.tags, { 'attr': {'data-role': 'tagsinput'} }) }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save Product</button>
        </div>
    {{ form_end(productForm) }}
</div>
{% endblock %}
